<template>
    <v-app>
        <div class="d-flex flex-column align-center" style="height:100%; width:100%;">
            <div style="width:90%" class="d-flex flex-row justify-center align-center ma-8">
                <v-card v-if="logged" class="d-flex flex-column" style="width:500px">
                    <div class="d-flex flex-column ma-4">
                        <div class="d-flex flex-row" style="width:100%">
                            <h4 class="ml-3">{{ iphoneName }}:</h4>
                            <h4 class="ml-3">{{ iphoneBattery }}%</h4>
                            <v-spacer>
                            </v-spacer>
                            <v-btn @click="lockDialog = true" color="red">
                                <v-icon small hover>mdi-lock</v-icon>
                            </v-btn>
                            <v-dialog v-model="lockDialog" height="300" width="440">
                                <v-card>
                                    <v-card-title>Do you want to lock your iPhone remotly?</v-card-title>
                                    <v-card-actions>

                                        <v-btn class="mb-3" @click="lockIphoneRemotly()">Yes</v-btn>
                                        <v-spacer></v-spacer>
                                        <v-btn class="mb-3" @click="lockDialog = false" color="red">No</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </div>
                        <div style="width:180px" class="ml-3">
                            <v-progress-linear v-if="iphoneBattery >= 40" color="green" width="80" rounded
                                :value="iphoneBattery"></v-progress-linear>
                            <v-progress-linear v-else-if="iphoneBattery <= 39 && iphoneBattery >= 20" width="80" rounded
                                color="yellow" :value="iphoneBattery"></v-progress-linear>
                            <v-progress-linear v-else color="red" :value="iphoneBattery" width="80" rounded>
                            </v-progress-linear>
                        </div>
                    </div>
                    <div class="d-flex flex-row ma-4">
                        <h6 class="ml-3 pt-6">{{ iphoneLocation }}</h6>
                        <v-spacer></v-spacer>
                        <v-btn @click="playSound()" color="purple"><v-icon>mdi-volume-high</v-icon></v-btn>
                    </div>
                </v-card>
            </div>
            <div v-if="logged === false" class="d-flex flex-row justify-center align-center ma-8">

                <v-card  class="d-flex flex-column align-center" style="margin-top:10%"
                    width="300">
                    <v-card-title>Log in your Icloud</v-card-title>
                    <v-text-field type="email" v-model="email" label="Email"></v-text-field>
                    <v-text-field type="password" v-model="password" label='Password'></v-text-field>
                    <v-btn class="mb-5" @click="loginIcloud()">Log in</v-btn>
                </v-card>
            </div>
            <div class="mb-10" v-if="logged" style="height:75%; width:75%">
                <GmapMap :center="center" :zoom="14" style="height:100%; width:100%">
                    <GmapMarker :position="center" />
                </GmapMap>
            </div>
        </div>

    </v-app>

</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            lockDialog: false,
            email: '',
            password: '',
            center: { lat: 0, lng: 0 },
            logged: false,
            iphoneBattery: 0,
            iphoneName: '',
            iphoneLocation: ''
        }
    },
    methods: {
        async getData(){
            let response = await axios.get('/getData')
            this.center = { lat: response.data.latitude, lng: response.data.longitude }
            this.iphoneBattery = Math.ceil(response.data.batteryLevel * 100)
            this.iphoneName = response.data.name
            this.iphoneLocation = response.data.iphoneLocation
            localStorage.setItem('secret_key', response.data.secret_key)
        },
        async loginIcloud() {
            const payload = {
                email: this.email,
                password: this.password,
            }
            let response = await axios.post('/login', payload)
            if (response.data === 'Logged'){
                await this.getData()
                this.logged = true
                await window.setInterval(() => {
                    this.getData()
                }, 10000)
            }
            
        },
        async lockIphoneRemotly() {
            const payload = {
                secret_key: localStorage.getItem('secret_key')
            }
            await axios.post('lockIphoneRemotly', payload)
            this.lockDialog = false
        },
        playSound(){
            axios.get('/playSound')
        }
    },

}
</script>